## Usage of classes in the requirements

For a better visualization of requirement fulfillment, the following table displays the relationship between the class and the requirement it satisfies.

| Class                                              | Functional requirement it satisfies  | Complete |
|----------------------------------------------------|-------------------------------------|-------|
| <p align="center"> <img src="assets/ClassInterfazTBL.png"></p> | RF003, RF004, RF007       | No |
| <p align="center"> <img src="assets/ClassLoginManager.png"></p> | RF001, RF002, RF011      | Yes |
| <p align="center"> <img src="assets/ClassOrders.png"></p> |RF004, RF010                    | Yes |
| <p align="center"> <img src="assets/ClassOrdersDAO.png"></p> | RF004                      | Yes |
| <p align="center"> <img src="assets/ClassQuerys.png"></p> | RF005    | Yes |
| <p align="center"> <img src="assets/ClassSQLConnection.png"></p> | RNF2, RNF1    | Yes |
| <p align="center"> <img src="assets/ClassSQLTbl.png"></p> | RNF5    | Yes|
| <p align="center"> <img src="assets/ClassSQLUpdate.png"></p> | RF010    | Yes |
| <p align="center"> <img src="assets/ClassSQLUserLog.png"></p> | RNF1, RNF2, RNF3   | Yes |
| <p align="center"> <img src="assets/ClassUserConection.png"></p> | RF001, RF002, RNF6  | Yes |
| <p align="center"> <img src="assets/ClassSerigraphyDAO.png"></p> | RF003, RF004, RF005, RF010 | Yes |
