## Usage of classes in the requirements

For a better visualization of requirement fulfillment, the following table displays the relationship between the class and the requirement it satisfies.

| Class                                              | Functional requirement it satisfies  | Complete |
|----------------------------------------------------|-------------------------------------|-------|
| [![Class-Interfaz-TBL.png](https://i.postimg.cc/pTr4GmPm/Class-Interfaz-TBL.png)](https://postimg.cc/34MtWJ4h)| RF003, RF004, RF007       | No |
| [![Class-Login-Manager.png](https://i.postimg.cc/j519GRjZ/Class-Login-Manager.png)](https://postimg.cc/ftxBdnm9)| RF001, RF002, RF011      | Yes |
| [![Class-Orders.png](https://i.postimg.cc/4nk0xwVc/Class-Orders.png)](https://postimg.cc/LgDDyty4) |RF004, RF010                    | Yes |
| [![Class-Orders-DAO.png](https://i.postimg.cc/CMBLd1bM/Class-Orders-DAO.png)](https://postimg.cc/WtVPHs9x)| RF004                      | Yes |
| [![Class-Querys.png](https://i.postimg.cc/hv7wnNzg/Class-Querys.png)](https://postimg.cc/y3snXQyr) | RF005    | Yes |
| [![Class-SQLConnection.png](https://i.postimg.cc/J7f7XLQN/Class-SQLConnection.png)](https://postimg.cc/4n1TCjqy) | RNF2, RNF1    | Yes |
| [![Class-SQLTbl.png](https://i.postimg.cc/jdyxQF8G/Class-SQLTbl.png)](https://postimg.cc/nCcfn0fk) | RNF5    | Yes|
| [![Class-SQLUpdate.png](https://i.postimg.cc/W41sVb2v/Class-SQLUpdate.png)](https://postimg.cc/MnNCbwMP) | RF010    | Yes |
| [![Class-SQLUser-Log.png](https://i.postimg.cc/N0CBjqMr/Class-SQLUser-Log.png)](https://postimg.cc/06SLV478) | RNF1, RNF2, RNF3   | Yes |
| [![Class-User-Conection.png](https://i.postimg.cc/bwTq42fg/Class-User-Conection.png)](https://postimg.cc/dhhMy31Z) | RF001, RF002, RNF6  | Yes |
| [![Class-Serigraphy-DAO.png](https://i.postimg.cc/6pw9HfgT/Class-Serigraphy-DAO.png)](https://postimg.cc/ppGbrz2t) | RF003, RF004, RF005, RF010 | Yes |
