## Usage of classes in the requirements

For a better visualization of requirement fulfillment, the following table displays the relationship between the class and the requirement it satisfies.

| Class                                              | Functional requirement it satisfies  |
|----------------------------------------------------|-------------------------------------|
| <p align="center"> <img src="Documents/ClasesPNG/ClassInterfazTBL.png"></p> | RF003, RF004, RF007       |
| <p align="center"> <img src="Documents/ClasesPNG/ClassLoginManager.png"></p> | RF001, RF002, RF011      |
| <p align="center"> <img src="Documents/ClasesPNG/ClassOrders.png"></p> |RF004, RF010                    |
| <p align="center"> <img src="Documents/ClasesPNG/ClassOrdersDAO.png"></p> | RF004                      |
| <p align="center"> <img src="Documents/ClasesPNG/ClassQuerys.png"></p> | RF005    |
| <p align="center"> <img src="Documents/ClasesPNG/ClassSQLConnection.png"></p> | RNF2, RNF1    |
| <p align="center"> <img src="Documents/ClasesPNG/ClassSQLTbl.png"></p> | RNF5    |
| <p align="center"> <img src="Documents/ClasesPNG/ClassSQLUpdate.png"></p> | RF010    |
| <p align="center"> <img src="Documents/ClasesPNG/ClassSQLUserLog.png"></p> | RNF1, RNF2, RNF3   |
| <p align="center"> <img src="Documents/ClasesPNG/ClassUserConection.png"></p> | RF001, RF002, RNF6  |
| <p align="center"> <img src="Documents/ClasesPNG/ClassSerigraphyDAO.png"></p> |  |
| <p align="center"> <img src="Documents/ClasesPNG/ClaassPuenteDVB.png"></p> |  |
